.chart-series-line{
	-fx-stroke: lightgrey;
}

.P0 {
    -fx-background-color: #e74c3c;
    -fx-stroke: #e74c3c;
    -fx-fill: #e74c3c;
}
.P1 {
    -fx-background-color: #9b59b6;
    -fx-stroke: #9b59b6;
    -fx-fill: #9b59b6;
}
.P2 {
    -fx-background-color: #7f8c8d;
    -fx-stroke: #7f8c8d;
    -fx-fill: #7f8c8d;
}
.P3 {
    -fx-background-color: #a5c63b;
    -fx-stroke: #a5c63b;
    -fx-fill: #a5c63b;
}
.P4 {
    -fx-background-color: #e67e22;
    -fx-stroke: #e67e22;
    -fx-fill: #e67e22;
}
.P5 {
    -fx-background-color: #3a6f81;
    -fx-stroke: #3a6f81;
    -fx-fill: #3a6f81;
}
.P6 {
    -fx-background-color: #345f41;
    -fx-stroke: #345f41;
    -fx-fill: #345f41;
}
.P7 {
    -fx-background-color: #f47cc3;
    -fx-stroke: #f47cc3;
    -fx-fill: #f47cc3;
}
.P8 {
    -fx-background-color: #ffcd02;
    -fx-stroke: #ffcd02;
    -fx-fill: #ffcd02;
}
.P9 {
    -fx-background-color: #3498db;
    -fx-stroke: #3498db;
    -fx-fill: #3498db;
}
.P10 {
    -fx-background-color: #745ec5;
    -fx-stroke: #745ec5;
    -fx-fill: #745ec5;
}
.P11 {
    -fx-background-color: #79302a;
    -fx-stroke: #79302a;
    -fx-fill: #79302a;
}
.P12 {
    -fx-background-color: #d5c295;
    -fx-stroke: #d5c295;
    -fx-fill: #d5c295;
}
.P13 {
    -fx-background-color: #2ecc71;
    -fx-stroke: #2ecc71;
    -fx-fill: #2ecc71;
}
.P14 {
    -fx-background-color: #5e345e;
    -fx-stroke: #5e345e;
    -fx-fill: #5e345e;
}
.P15 {
    -fx-background-color: #16a085;
    -fx-stroke: #16a085;
    -fx-fill: #16a085;
}
.P16 {
    -fx-background-color: #99abd5;
    -fx-stroke: #99abd5;
    -fx-fill: #99abd5;
}
.P17 {
    -fx-background-color: #d95459;
    -fx-stroke: #d95459;
    -fx-fill: #d95459;
}
.P18 {
    -fx-background-color: #34495e;
    -fx-stroke: #34495e;
    -fx-fill: #34495e;
}
.P19 {
    -fx-background-color: #394c81;
    -fx-stroke: #394c81;
    -fx-fill: #394c81;
}