.P1 {
    -fx-background-color:rgba(230, 175, 75 ,0.8);
}
.P2 {
    -fx-background-color:rgba(100, 149, 237, 0.8);
}
.P3 {
    -fx-background-color:rgba(64, 224, 208, 0.8);
}
.P4 {
    -fx-background-color:rgba(0, 255, 127 ,0.8);
}
.P5 {
    -fx-background-color:rgba(225, 215, 0, 0.8);
}
.P6 {
    -fx-background-color:rgba(205, 92, 92, 0.8);
}
.P7 {
    -fx-background-color:rgba(210, 180, 140,0.8);
}
.P8 {
    -fx-background-color:rgba(255, 165, 0, 0.8);
}
.P9 {
    -fx-background-color:rgba(255, 255, 0, 0.8);
}
.P10 {
    -fx-background-color:rgba(240, 128, 128 ,0.8);
}
.P11 {
    -fx-background-color:rgba(255, 105, 180 ,0.8);
}
.P12 {
    -fx-background-color:rgba(224, 80, 56, 0.8);
}
.P13 {
    -fx-background-color:rgba(238, 130, 238, 0.8);
}
.P14 {
    -fx-background-color:rgba(147, 112, 219,0.8);
}
.P15 {
    -fx-background-color:rgba(216, 199, 216, 0.8);
}
.P16 {
    -fx-background-color:rgba(233, 150, 122, 0.8);
}
.P17 {
    -fx-background-color:rgba(238, 172, 170 ,0.8);
}
.P18 {
    -fx-background-color:rgba(153, 205, 50, 0.8);
}
.P19 {
    -fx-background-color:rgba(176, 196, 222, 0.8);
}
.P20 {
    -fx-background-color:rgba(51, 68, 49, 0.8);
}
			
			
			
			
			
			
			
			
			
			
			
			
